* {
    margin: 0;
    padding: 0;
    color: black;
  }

body {
  font: 16pt;
  font-family: Serif;
  line-height: 24px;
  background: transparent;
  background-size: cover;
}

.clear {
  clear: both;
}

#page-wrap {
  width: 800px;
  margin: 40px auto 60px;
}

#pic {
  float: right;
  margin: -30px 0 0 0;
}

h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -2px;
  border-bottom: 1px solid #999;
}

h2 {
  font-size: 20px;
  position: relative;
	bottom: 0px;
	right: 1px;
	font-style: italic;
	font-weight: normal;
	width: 300px;
  top: 15px;
}

p {
  margin: 0 0 15px 0;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

nav {
  display: none;
}

ul {
  margin: 0 0 32px 17px;
}

#objective {
  width: 500px;
  clear: both;
}

#objective {
  font-style: italic;
}

article {
  margin-top: 15px;
  color: #666;
  font-family: Georgia, Serif;
  font-style: italic;
}

img {
  display: none;
}

#samples {
  display: none;
}
