@import url (https://fonts.googleapis.com/css?family=Playfair+Display|Raleway)

* {
    margin: 0;
    padding: 0;
  }

body {
  font: 16px;
  font-family: "Raleway", Sans-Serif;
  line-height: 24px;
  background: url(axel-bg.jpg);
  background-size: cover;
}

.clear {
  clear: both;
}

#page-wrap {
  width: 800px;
  margin: 40px auto 60px;
}

#pic {
  float: right;
  margin: -30px 0 0 0;
}

h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 35px;
  font-family: "Playfair Display";
  font-weight: bold;
  letter-spacing: -2px;
  border-bottom: 1px solid #999;
}

h2 {
  font-size: 20px;
  font-family: "Playfair Display";
  position: relative;
	bottom: 0px;
	right: 1px;
	font-style: italic;
	color: #000000;
	font-weight: normal;
	width: 300px;
  top: 15px;
}

p {
  margin: 0 0 15px 0;
}

a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

a:hover {
  border-bottom-style: solid;
  color: black;
}

ul {
  margin: 0 0 32px 17px;
}

#objective {
  width: 500px;
  clear: both;
}

#objective p {
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
}

article {
  margin-top: 15px;
  color: #666;
  font-family: Georgia, Serif;
  font-style: italic;
}

img {
  float: left;
}
