body {
  font-family: 'PT Serif', serif;
  font-size:16px;
  }

#container {
  margin: 0 auto;
}

header h1 {
  padding-bottom: none;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 80px;
  margin-bottom: 20px;
}

header > p{
    list-style-type: none;
    font-family: 'PT Serif', serif;
    text-align: center;
    font-style: none;
    color: #808080;
}


.nav ul {
  font-family:'PT Serif', serif;
  padding: 1em 0;
  padding-left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.nav ul a {
  color: #808080;
}

.nav ul a:hover {
  color: #000;
}

.about p {
  text-transform: none;
  padding-left: 9px;
  padding-right: 9px;
  font-family:'PT Serif', serif;
  padding-top: 10px;
  padding-bottom: 5px;
}

.contact p {
  text-transform: none;
  padding-left: 9px;
  padding-right: 9px;
  font-family:'PT Serif', serif;
  text-align: center;
  padding: 10px;
}

.resume p {
  color: #000
}

h2 {
  color: grey;
}


h3{
  color:grey;
}

p {
  margin-top:0;
  margin-bottom:0;
}


li{
  padding-bottom: 6px;
}


nav{
  text-align: center;
  font-family: arial;
}


nav ul li{
  display: inline-block;
  width: 100px;
}

footer {
  font-family:'PT Serif', serif;
  font-size: 10px;
  margin-top: 16px;
  padding-top: 10px;
}
